
.thead-dark{
    background-color: black;
    color:white;
}

.title{
    text-align: center;
}

.new{
    margin-top: 2%;
    text-align: center;
}

button{
    width: 70px;
    height: 70px;
    border: 1px solid ;
    border-radius: 50%;
    color:white;
    background-color:black;
    font-size: 40px;
}

button :hover {
    color:black;
    background-color:white;
}

.form-group{
    align-items: center;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    display:flex;
    flex-direction: column;
}

label{
    font-weight:bold;
}

.btn{
    width: 120px;
    height: 50px;;
}

.form-control-file{
    margin-top: 10px;
}
