body{
    background-image: url("https://hdwallsource.com/img/2014/5/wildlife-wallpaper-hd-30803-31528-hd-wallpapers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    padding: 2%;
    font-weight: bold;
    font-size: 40px;
    color:white;
}

button {
    color:black;
    border: 1px solid;
    width: 12%;
    margin-left: 2%;
    font-weight: bold;
    background-color:white;
}

button :hover {
    color: white;
    background-color: black; 
}
